<h1 class="text-center mt-4">Multi Search</h1>

<form action="/search" method="POST" class="mb-3">
	<div class="row">
		<div class="col-lg-6" style="margin: auto;">
			{{#unless searchData.terms.length}}
				<div class="form-group search-terms">
					<label for="main">Main Search</label>
					<input style="width:100%" type="text" name="main" class="search form-control mb-3" placeholder="Search">
				</div>
			{{/unless}}
			{{#each searchData.terms}}
				{{#unless @index}}
					<div class="form-group search-terms">
						<label for="main">Main Search</label>
						<input style="width:100%" type="text" name="main" value="{{this}}" class="search form-control mb-3" placeholder="Search">
					</div>
				{{/unless}}
				{{#if @index}}
					<div class="input-group mb-3" data-remove="term{{@index}}">
						<input type="text" placeholder="Search" value="{{this}}" name="term{{@index}}" class="search form-control input-group-lg term">
						<div class="input-group-append">
							<button type="button" class="btn btn-outline-secondary js-add-main">Add Main</button>
							<button type="button" class="btn btn-outline-secondary js-remove-from-search" data-remove="{{this}}">Remove</button>
						</div>
					</div>
				{{/if}}
			{{/each}}
			<button type="submit" class="btn btn-outline-dark">SUBMIT</button>
			<button type="button" id="add-term" class="btn btn-outline-dark">Add +</button>
			<input type="range" min="20" max="100" value="100" step="10" class="list-width-slider">
		</div>
	</div>
</form>

<div style="display:flex;flex-wrap:wrap;" class="result-lists">
	{{#each searchData.results}}
		<div class="list-container" style="width:100%;" data-search="{{this.title}}">
			<ul class="list-group result-list">
				<li class="list-group-item">
					<h5 class="clearfix">
						{{this.title}}
						<button class="js-remove-from-list float-right btn" data-search-input-val="{{this.title}}"><img src="/icons/trash-2.svg"></button>
						<button class="js-move btn float-right"><img src="/icons/move.svg"></button>
						<button class="js-toggle-descriptions float-right btn" data-descriptions="hide"><img src="/icons/toggle-left.svg"></button>
						<span class="js-toggle-search-results btn float-right" data-collapse="show"><img src="/icons/chevron-down.svg"></span>
						<a href="https://www.google.com/search?q={{this.urlencoded}}" target="blank"><button class="btn float-right mr-2"><img src="/icons/plus-circle.svg"></button></a>
					</h5>
				</li>
				{{#each this.links}}
					<li class="list-group-item result-item">
						<a href="{{this.link}}">{{this.title}}</a><br>
						<p class="description">{{this.description}}</p>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</div>
