<h1 class="text-center mt-4">Multi Search</h1>

<form action="/search" method="POST" class="mb-3">
	<div class="row">
		<div class="col-lg-6" style="margin: auto;">
			<div class="input-groups">
				{{#unless searchData.terms.length}}
					<div class="input-group mb-3">
						<input type="text" name="term0" class="search form-control" placeholder="Search">
						<div class="combine-list-container">
							<button type="button" class="btn btn-outline-secondary js-combine combine-btn"><img src="/icons/plus-circle.svg"></button>
							<ul>
								{{#each ../searchData.terms}}
									<li class="combine-item" data-search-term="{{this}}">{{this}}</li>
								{{/each}}
							</ul>
						</div>
						<button type="button" class="btn btn-outline-secondary js-remove-from-search remove-from-search-btn"><img src="/icons/trash-2.svg"></button>
						<button type="button" class="btn btn-outline-secondary move-search"><img class="js-move" src="/icons/move.svg"></button>
					</div>
				{{/unless}}
				{{#each searchData.terms}}
					<div class="input-group mb-3">
						<input type="text" placeholder="Search" value="{{this}}" name="term{{@index}}" class="search form-control">
						<div class="combine-list-container">
							<button type="button" class="btn btn-outline-secondary js-combine combine-btn"><img src="/icons/plus-circle.svg"></button>
							<ul>
								{{#each ../searchData.terms}}
									<li class="combine-item" data-search-term="{{this}}">{{this}}</li>
								{{/each}}
							</ul>
						</div>
						<button type="button" class="btn btn-outline-secondary js-remove-from-search remove-from-search-btn"><img src="/icons/trash-2.svg"></button>
						<button type="button" class="btn btn-outline-secondary move-search"><img class="js-move" src="/icons/move.svg"></button>
					</div>
				{{/each}}
			</div>
			<button type="submit" class="btn btn-outline-dark">SUBMIT</button>
			<button type="button" id="add-input-group" class="btn btn-outline-dark mr-2">Add +</button>
			<label><input  type="radio" name="orientation" value="row" class="mr-2 js-toggle-list-orientation" {{#unless searchData.orientation}}checked{{/unless}}>Row</label>
			<label><input type="radio" name="orientation" value="column" class="mr-2 js-toggle-list-orientation" {{#if searchData.orientation}}checked{{/if}}>Column</label>
		</div>
	</div>
</form>

<div class="result-lists d-flex {{#if searchData.orientation}}flex-column{{else}}flex-row{{/if}}">
	{{#each searchData.results}}
		<div class="list-container" data-search="{{this.title}}">
			<ul class="list-group result-list">
				<li class="list-group-item d-flex justify-content-between align-items-center">
					<h5 style="margin-bottom: 0;"><span class="js-toggle-search-results mr-1" data-collapse="show"><img src="/icons/chevron-down.svg"></span>{{this.title}}</h5>
					<div>
						<button class="js-remove-from-list float-right btn" data-search-input-val="{{this.title}}"><img src="/icons/trash-2.svg"></button>
						<button class="js-move btn float-right"><img class="js-move" src="/icons/move.svg"></button>
						<button class="js-toggle-descriptions float-right btn" data-descriptions="hide"><img src="/icons/toggle-left.svg"></button>
						<a href="https://www.google.com/search?q={{this.urlencoded}}" target="blank"><button class="btn float-left mr-2"><img class="new-tab" src="/icons/new-tab.svg"></button></a>
					</div>
				</li>
				{{#each this.links}}
					<li class="list-group-item result-item">
						<a href="{{this.link}}">{{this.title}}</a><br>
						<p class="description">{{this.description}}</p>
					</li>
				{{/each}}
			</ul>
		</div>
	{{/each}}
</div>
